/* Common Styles -------------------------------------
--------------------------------------------------- */
body:not(.page-loaded) {
  display: none;
}
* {
  outline: none !important;
}
.window-resizing *,
body:not(.page-loaded) * {
  transition: none !important;
}
a {
  transition: all 0.3s;
}
html,
body {
  min-width: 360px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-dark;
}
.wrapper {
  min-height: 100vh;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: none;
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
}
.dropdown-toggle::after {
  display: none;
}

/* Form floating
--------------------------------------------------------------------------------------------------------*/
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 12px;
}
.form-floating > label {
  top: -2px;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: 50px;
  min-height: 50px;
  line-height: 1.25;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.85) translateY(-1.7rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill,
.form-floating > .form-control-plaintext:-webkit-autofill {
  padding-top: 15px;
  padding-bottom: 10px;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  color: $primary;
  transform: scale(0.85) translateY(-1.5rem) translateX(0.15rem);
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: 15px;
  padding-bottom: 10px;
}
.form-control {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-light;
}

/* Form Check
--------------------------------------------------------------------------------------------------------*/
.form-check .form-check-input {
  width: 20px;
  height: 20px;
  margin-left: -28px;
  cursor: pointer;
}
.form-check {
  padding-left: 30px;
  margin-bottom: 0;
}
.form-check-label {
  margin-top: 4px;
  cursor: pointer;
}
.form-check-input[type="checkbox"] {
  border-radius: 2px;
}

.primary-link {
  line-height: 24px;
  color: $primary;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: all 300ms ease;
  }
  &:hover {
    &::after {
      width: 100%;
    }
    color: $primary;
  }
}

/* Button
--------------------------------------------------------------------------------------------------------*/
.btn-primary {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: $text-white;
  padding: 12px;
  border-radius: 10px;
}
