/* Footer --------------------------------------------
--------------------------------------------------- */
.footer {
  background: #262626;
  text-align: center;
  padding: 0;
  p {
    padding: 20px;
    margin: 0;
  }
}