// Variable overrides first
$theme-colors: (
  "primary": #1a6baf,
  "secondary": #6c757d,
  "success": #198754,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #0dcaf0,
  "light": #f8f9fa,
  "dark": #212529,
);

$primary: #1a6baf;
$primary-gradient: linear-gradient(91.76deg, #1669ad 1.49%, #4484ba 98.58%);
$text-dark: #444444;
$text-light: #000000;
$text-white: #ffffff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);
