// Variable overrides first
$theme-colors: (
  "primary": #1a6baf,
  "secondary": #6c757d,
  "success": #198754,
  "danger": #f13838,
  "warning": #ffc107,
  "info": #0dcaf0,
  "light": #f8f9fa,
  "dark": #212529,
);

$primary: #1a6baf;
$primary-gradient: linear-gradient(91.76deg, #1669ad 1.49%, #4484ba 98.58%);
$primary-variant-1: #1d79c3;
$primary-variant-2: #114978;
$text-dark: #444444;
$text-grey: #aaaaaa;
$grey-variant-1: #c4c4c4;
$grey-variant-2: #999;
$grey-variant-3: #c4c2c2;
$light-variant-1: #f4f7fa;
$danger: #f13838;

:root {
  --sidebar-width: 260px;
}

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1200px,
//   xxl: 1440px,
// );

// $container-max-widths: (
//   sm: 576px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1200px,
//   xxl: 1440px,
// );
